# Set this to the hostname that you intend to run the service at
HOSTNAME='feed.example.com'

# You can obtain it by publishing feed metadata (run publish_feed.py)
LOVELIVE_URI='at://did:plc:abcde.../app.bsky.feed.generator/example-fid-name...'

# (Optional). Only use this if you want a service did different from did:web
# SERVICE_DID='did:plc:abcde...'

# ---- Database settings ----

# Memory map size in bytes
# Set to 0 to disable it, negative number for auto
# Default: 134217728 (128 MB)
DB_MMAP_SIZE=134217728

# Memory cache size in pages (if positive) or kilobytes (if negative)
# Default: 2000 (pages)
DB_CACHE_SIZE=2000

# Journal file size limit in bytes
# Set to 0 for minimum size, -1 for no limit (not recommended)
# Default: 134217728 (128 MB)
DB_JOURNAL_SIZE_LIMIT=134217728

# Interval in blocks when to write from WAL to database file
# Default: 100
DB_WAL_AUTOCHECKPOINT=100

# ---- Settings for publish_feed.py ----

# Your Bluesky handle (username)
HANDLE=''

# Your app password
PASSWORD=''

# A short name for the record that will show in urls
# Lowercase with no spaces.
# Ex: whats-hot
RECORD_NAME=''

# A display name for your feed
# Ex: What's Hot
DISPLAY_NAME=''

# (Optional) A description of your feed
# Ex: Top trending content from the whole network
DESCRIPTION='powered by The AT Protocol SDK for Python'

# (Optional) The path to an image to be used as your feed's avatar
# Ex: ./path/to/avatar.jpeg
AVATAR_PATH=''
